<%- include('./partials/header.ejs') %>

<div class="container mt-5">
  <% if (user) { %>
  <div class="d-flex justify-content-end mb-3">
    <div class="dropdown">
      <button
        class="filter-button dropdown-toggle"
        type="button"
        id="filterDropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Filter Pets⬇️
      </button>
      <div
        class="dropdown-menu p-4 filter-box"
        aria-labelledby="filterDropdown"
      >
        <form action="/" method="GET">
          <div class="form-group mb-3">
            <label for="vaccination">Has any vaccinations:</label>
            <input
              type="checkbox"
              id="vaccination"
              name="vaccination"
              value="true"
            />
          </div>
          <div class="form-group mb-3">
            <label for="ageMin">Age (Min):</label>
            <input
              type="number"
              class="form-control"
              id="ageMin"
              name="ageMin"
              min="1"
              max="35"
              value="1"
            />
          </div>
          <div class="form-group mb-3">
            <label for="ageMax">Age (Max):</label>
            <input
              type="number"
              class="form-control"
              id="ageMax"
              name="ageMax"
              min="1"
              max="35"
              value="35"
            />
          </div>
          <div class="form-group mb-3">
            <label for="location">Location:</label>
            <input
              type="text"
              class="form-control"
              id="location"
              name="location"
            />
          </div>
          <div class="form-group mb-3">
            <label for="breed">Breed:</label>
            <input type="text" class="form-control" id="breed" name="breed" />
          </div>
          <div class="form-group mb-3">
            <label for="type">Type:</label>
            <input type="text" class="form-control" id="type" name="type" />
          </div>
          <button type="submit" class="btn btn-primary">Apply Filters</button>
        </form>
      </div>
    </div>
  </div>
  <% } %>

  <div class="row">
    <% pets.forEach((pet, index) => { %>
    <div class="col-md-3 mb-4">
      <div class="card h-100">
        <a href="<%= user ? '/pets/' + pet._id : '#' %>">
          <div class="pet-card">
            <img
              src="<%= pet.imageUrls.length > 0 ? pet.imageUrls[0] : '/assets/no-image.png' %>"
              alt="<%= pet.name %>"
              class="img-fluid"
            />
          </div>
        </a>
        <div class="card-body">
          <h5 class="card-title"><%= pet.name %></h5>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
  <% if (user) { %> <%- include('./partials/pagination.ejs') %> <% } %>
</div>

<%- include('./partials/footer.ejs') %>
