<%- include('./partials/header.ejs') %>

<div class="container mt-5">
  <% if (user) { %>
  <div class="d-flex justify-content-end mb-3">
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="filterDropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Filter ⬇️
      </button>
      <div class="dropdown-menu p-4" aria-labelledby="filterDropdown">
        <form action="/" method="GET">
          <div class="form-group mb-3">
            <label for="vaccination">Has any vaccinations:</label>
            <input
              type="checkbox"
              id="vaccination"
              name="vaccination"
              value="true"
            />
          </div>
          <div class="form-group mb-3">
            <label for="ageMin">Age (Min):</label>
            <input
              type="number"
              class="form-control"
              id="ageMin"
              name="ageMin"
            />
          </div>
          <div class="form-group mb-3">
            <label for="ageMax">Age (Max):</label>
            <input
              type="number"
              class="form-control"
              id="ageMax"
              name="ageMax"
            />
          </div>
          <div class="form-group mb-3">
            <label for="location">Location:</label>
            <input
              type="text"
              class="form-control"
              id="location"
              name="location"
            />
          </div>
          <div class="form-group mb-3">
            <label for="breed">Breed:</label>
            <input type="text" class="form-control" id="breed" name="breed" />
          </div>
          <div class="form-group mb-3">
            <label for="type">Type:</label>
            <input type="text" class="form-control" id="type" name="type" />
          </div>
          <button type="submit" class="btn btn-primary">Apply Filters</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <% pets.forEach(pet => { %>
    <div class="col-md-3 mb-4">
      <div class="card h-100">
        <a href="/pets/<%= pet._id %>">
          <img
            src="<%= pet.imageUrls[0] %>"
            class="card-img-top"
            alt="<%= pet.name %>"
          />
          <div class="card-body">
            <h5 class="card-title"><%= pet.name %></h5>
          </div>
        </a>
      </div>
    </div>
    <% }) %>
  </div>
  <% } else { %>
  <div class="text-center mb-5">
    <h1>Welcome to FurEverHome</h1>
    <p>
      Your one-stop destination for adopting pets and finding them a forever
      home. Browse through our collection of pets and find your new best friend
      today!
    </p>
  </div>
  <div class="row">
    <% pets.forEach(pet => { %>
    <div class="col-md-3 mb-4">
      <div class="card h-100">
        <a href="/pets/<%= pet._id %>">
          <img
            src="<%= pet.imageUrls[0] %>"
            class="card-img-top"
            alt="<%= pet.name %>"
          />
          <div class="card-body">
            <h5 class="card-title"><%= pet.name %></h5>
          </div>
        </a>
      </div>
    </div>
    <% }) %>
  </div>
  <% } %>
</div>

<%- include('./partials/footer.ejs') %>
