<%- include('../partials/header.ejs') %>
<div class="container mt-5">
  <h1>Your Pets</h1>
  <div class="row">
    <% pets.forEach(pet => { %>
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <a href="/pets/<%= pet._id %>">
          <div class="pet-card">
            <img
              src="<%= pet.imageUrls.length > 0 ? pet.imageUrls[0] : '/assets/no-image.png' %>"
              alt="<%= pet.name %>"
              class="img-fluid"
            />
          </div>
        </a>
        <div class="card-body">
          <h5 class="card-title"><%= pet.name %></h5>
          <a href="/pets/<%= pet._id %>" class="btn btn-primary">View Pet</a>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
<%- include('../partials/footer.ejs') %>
