<%- include('../partials/header.ejs') %>

<div class="form-container">
  <% if (error) { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <% } %>
  <form action="/users/edit" method="POST" class="auth-form">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" class="form-control" value="<%= user.name %>" required />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" class="form-control" value="<%= user.email %>" required />
    </div>
    <div class="form-group">
      <label for="password">New Password:</label>
      <input type="password" name="password" id="password" class="form-control" />
    </div>
    <div class="form-group">
      <label for="confirm-password">Confirm New Password:</label>
      <input type="password" name="confirm-password" id="confirm-password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Update</button>
  </form>
</div>

<%- include('../partials/footer.ejs') %>